body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f4f4f4;
}

h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 40vw;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"],
button {
  max-width: 600px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  max-width: 300px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

button,
input[type="submit"] {
  transition: background-color 0.3s ease;
}

button:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}
